{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}


{% block title %}
Новости
{% endblock title %}

{% block content %}

<h1>Все новости</h1>
<hr>
<h3> {{ current|date:'M d Y' }} </h3>

<h3>{{ main_event|default_if_none:"Эпохальных событий не намечается!" }}</h3>



{% if posts %}

<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 15.8807%;">Автор</td>
<td style="width: 15.5966%;">Название</td>
<td style="width: 20%;">Категория</td>
<td style="width: 14.7443%;">Время создания</td>
<td style="width: 33.7784%;">Текст</td>
</tr>
{% for post in posts %}
<tr>
<td style="width: 15.8807%;">{{post.author}}</td>
<td style="width: 15.5966%;">{{post.title}}</td>
<td style="width: 20%;">{{post.category}}</td>
<td style="width: 14.7443%;">{{post.time}}</td>
<td style="width: 33.7784%;">{{post.text|truncatechars:20|cursed_words}}</td>
</tr>
 <td>
     {% if perms.table.change_post %}
     <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
     {% endif %}
     {% if perms.table.delete_post %}
     <a href="{% url 'post_delete' post.id %}">Удалить</a>
     {% endif %}
 </td>
{% endfor %}
</tbody>
</table>
{% else %}
<h1>Бизнес не процветает, новостей не дождетесь!</h1>
{% endif %}
<p>
    {% if perms.table.add_post %}
    <a href="{% url 'post_create' %}">Написать лютый кринге</a>
    {% endif %}
</p>


   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

<p><a href="{% url 'sub' %}">Оформить подписку в обмен на вашу бессмертную душу</a></p>

<a href="{% url 'post_list' %}">ничего</a>
{% endblock content %}
