<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <center><p><form action="{% url 'home' %}">
      <button type="submit"> На главную </button>
    </form></center></p>

{% for item in resp %}
    <ul>
        <hr>
        <p> Отклик оставлен пользователем: <h4>{{ item.left_by.username }}</h4> </p>
         Вот к этому объявлению <a href="{% url 'detail_ad'  item.to_post.id %}">  {{ item.to_post.title }} </a>
        <p><li> {{ item.message }} </li></p>
        <a href="{% url 'accept' item.id %}">  Откликнуться </a>
        <a href="{% url 'deny' item.id %}"> Удалить </a>
    </ul>
{% endfor %}


{% if page_obj.has_other_pages %}

{% if page_obj.has_previous %}
 <center><a href="?page={{ page_obj.previous_page_number }}"> Предыдущая страница </a></center>
{% endif %}

    {% for page in paginator.page_range %}
        {% if page_obj.number == page %}
            <h2><center>{{ page }}</center></h2>
        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
            <h2><center><a href="?page={{page}}">{{ page }}</a></center></h2>
        {% endif %}
    {% endfor %}

{% if page_obj.has_next %}
 <center><a href="?page={{ page_obj.next_page_number }}"> Следующая страница</a></center>
{% endif %}

{% endif %}

</body>
</html>